body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: "Roboto", Arial, sans-serif;
	color: #283136;
	
	/* background: url(../img/nerds-index.jpg) no-repeat 50% 0; */
	/* background: url(../img/nerds-catalog.jpg) no-repeat 50% 0; */
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
	background-color: #eeeeee;
}

.main-navigation {
	display: flex;
	align-items: flex-start;
	width: 1160px;
	height: 64px;
	margin: 0 auto;
	padding: 0 20px;
	padding-top: 50px;
	
	font-weight: 500;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.main-header-logo:hover {
	display: block;
	
	opacity: 0.8;
}

.main-header-logo:active {
	display: block;
	
	opacity: 0.3;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	max-width: 640px;
	margin: 0;
	margin-top: 25px;
	margin-left: 200px;
	padding: 0;
		
	list-style: none;
}

.site-navigation a {
	display: block;
	margin-right: 47px;
	
	color: #000000;
}

.site-navigation a:not([href]) {
	border-bottom: 2px solid #fb565a;
}

.site-navigation a:hover,
.site-cart a:hover {
	color: #fb565a;
}

.site-navigation a:active,
.site-cart a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-cart {
	position: relative;
	
	margin-top: 25px;
	margin-left: auto;
}

.site-cart a::before {
	content: "";
	
	position: absolute;
	top: 7px;
	right: 100px;
	
	width: 15px;
	height: 15px;
	
	background: url(../img/cart-icon.svg) no-repeat 0 0;
}

.site-cart a {
	color: #000000;
}

.main-container h1 {
	height: 160px;
	margin: 0 auto;
	margin-bottom: 55px;
	padding-top: 80px;
	
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	color: #000000;
	
	background-color: #eeeeee;
}

.sliders-about-us {
	background-color: #eeeeee;
}

.sliders-list {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding: 0 20px;
	
	list-style: none;
}

.sliders-item {
	width: 1160px;
	height: 430px;
}

.sliders-item:nth-child(1) {
	display: block;
	
	background: url(../img/slide-1.png) no-repeat 430px 18px;
}

.sliders-item:nth-child(2) {
	display: none;
	
	background: url(../img/slide-2.png) no-repeat 100% 0;
}

.sliders-item:nth-child(3) {
	display: none;
	
	background: url(../img/slide-3.png) no-repeat 100% 18px;
}

.sliders-item p:first-child {
	max-width: 600px;
	margin: 0;
	margin-bottom: 27px;
	padding-top: 77px;
	
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

.sliders-item p {
	max-width: 460px;
	margin: 0;
	margin-bottom: 40px;
}

.button {
	display: block;
	width: 240px;
	padding: 16px 0;
	
	font: inherit;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
}

.button:hover {
	background-color: #e74246;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.services {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding: 0 20px;
}

.services-list {
	display: flex;
	justify-content: space-between;
	width: 1100px;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.services-item {
	width: 300px;
	min-height: 350px;
}

.services-item h3 {
	margin: 0;
	margin-top: 20px;
	
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.services-item p {
	width: 260px;
	margin-bottom: 30px;
}

.button-service-1 {
	width: 160px;
}

.button-service-2 {
	width: 160px;
	
	background-color: #00ca74;
}

.button-service-2:hover {
	background-color: #00bc6c;
}

.button-service-2:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #00aa62;
	box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.button-service-3 {
	width: 160px;
	
	background-color: #efc84a;
}

.button-service-3:hover {
	background-color: #eab534;
}

.button-service-3:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #e5a722;
	box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 1160px;
	min-height: 450px;
	margin: 0 auto;
	margin-bottom: 75px;
	
	border-top: 2px solid #eeeeee;
}

.concepts {
	width: 680px;
	height: 450px;
}

.concept-slogan {
	margin: 0;
	margin-top: 70px;
	margin-bottom: 37px;
	
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.concepts b {
	display: block;
	margin-top: 40px;
	
	color: #000000;
	text-transform: uppercase;
}

.concepts-list {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.concepts-list li {
	position: relative;
	
	margin-top: 23px;
	padding-left: 35px;
}

.concepts-list li::before {
	content: "";
	
	position: absolute;
	top: 12px;
	left: 0;
	
	width: 25px;
	height: 2px;
	
	background-color: #fb565a;
}

.results {
	width: 360px;
	height: 450px;
}

.results img {
	margin-top: 40px;
}

.results-tab caption {
	margin-top: 30px;
	
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.results-tab th {
	padding-top: 40px;
	padding-right: 20px;
	
	font-size: 45px;
	text-align: left;
	color: #000000;
}

.results-tab span {
	font-weight: 400;
	font-size: 26px;
	vertical-align: super; 
}

.results-tab td {
	padding-top: 25px;
	
	font-size: 16px;
	line-height: 18px;
}

.partners {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding: 0 20px;
}

.partners-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 180px;
	margin: 0;
	padding: 0;
		
	list-style: none;
	
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.partners-item {
	position: relative;
	
	width: 260px;
	text-align: center;
}

.partners-item:nth-child(2)::before {
	content: "";
	
	position: absolute;
	top: 20px;
	left: -20px;
	
	width: 2px;
	height: 52px;
		
	background-color: #eeeeee;
}

.partners-item:nth-child(3)::before {
	content: "";
	
	position: absolute;
	top: 0;
	left: -20px;
	
	width: 2px;
	height: 52px;
	
	background-color: #eeeeee;
}
.partners-item:nth-child(4)::before {
	content: "";
	
	position: absolute;
	top: 16px;
	left: -20px;
	
	width: 2px;
	height: 52px;
	
	background-color: #eeeeee;
}

.partners-list a {
	display: block;
	
	opacity: 0.2;
}

.partners-list a:hover {
	display: block;
	
	opacity: 1;
}

.partners-list a:active {
	display: block;
	
	opacity: 0.1;
}

.catalog {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.filter {
	width: 260px;
}

.filter-cost-choice b {
	display: block;
	margin-bottom: 50px;
	
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
	color: #000000;
	text-transform: uppercase;
}

.filter-cost-choice p {
	margin: 0;
}

.filter-choice {
	position: relative;
	
	height: 41px;
	margin-bottom: 15px;
	padding: 39px 20px 0;
	
	background-color: #eeeeee;
	border-radius: 5px;
}

.filter-choice .scale {
	height: 2px;
	
	background-color: #d7dcde;
}

.filter-choice .bar {
	width: 152px;
	height: 2px;
	
	background-color: #00ca74;
}

.filter-choice::before,
.filter-choice::after {
	content: "";
	
	position: absolute;
	top: 30px;
	left: 18px;
	
	width: 20px;
	height: 23px;
	
	background: url(../img/filter-button.svg) no-repeat 0 0;
	cursor: pointer;
}

.filter-choice::after {
	left: 160px;
}

.filter-cost {
	font-size: 0;
}
.filter-cost label {
	display: inline-block;
	width: 50%;
	
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
}

.filter-cost input {
	width: 60px;
	margin-left: 10px;
	padding: 8px 10px;
	
	font: inherit;
	text-align: center;
	
	background-color: #eeeeee;
	border: none;
	border-radius: 3px;
}

.filter-cost .max-cost {
	text-align: right;
}

.filter-form fieldset {
	margin: 0;
	margin-top: 50px;
	padding: 0;
	
	border: none;
}

.filter-form ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.filter-form legend {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.filter-option {
	margin-top: 15px;
	padding-left: 36px;
}

.filter-option label {
	position: relative;
	
	display: block;
	
	cursor: pointer;
}

.filter-input-radio + span::before {
	content: "";
	
	position: absolute;
	top: 0;
	left: -35px;
	
	width: 25px;
	height: 25px;
	
	background: url(../img/radio-off.svg) no-repeat 0 0;
	opacity: 0.4;
}

.filter-input-radio:checked + span::before {
	content: "";
	
	position: absolute;
	top: 0;
	left: -35px;
	
	width: 25px;
	height: 25px;
	
	background: url(../img/radio-on.svg) no-repeat 0 0;
	opacity: 0.4;
}

.filter-input-checkbox + span::before {
	content: "";
	
	position: absolute;
	top: 0;
	left: -35px;
	
	width: 23px;
	height: 23px;
	
	background: url(../img/checkbox-off.svg) no-repeat 0 0;
	opacity: 0.4;
}

.filter-input-checkbox:checked + span::before {
	content: "";
	position: absolute;
	top: 0;
	left: -35px;
	
	width: 23px;
	height: 23px;
	
	background: url(../img/checkbox-on.svg) no-repeat 0 0;
	opacity: 0.4;
}

.filter-input-radio:hover + span::before,
.filter-input-checkbox:hover + span::before {
	opacity: 1;
}

.filter-input-radio:focus + span::before,
.filter-input-checkbox:focus + span::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	opacity: 1;
}

.filter-input-radio:disabled + span::before,
.filter-input-checkbox:disabled + span::before {
	opacity: 0.1;
	cursor: default;
}

.filter-input-radio:disabled + span,
.filter-input-checkbox:disabled + span {
	color: rgba(40, 49, 54, 0.3);
	
	cursor: default;
}

.filter-button {
	display: block;
	width: 100%;
	margin-top: 50px;
	padding: 16px 0;
	
	font: inherit;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	color: #000000;
	vertical-align: middle;
	text-transform: uppercase;
	
	background-color: #eeeeee;
	border: none;
	border-radius: 3px;
}

.filter-button:hover {
	background-color: #dfdfdf;
}

.filter-button:active {
	color: rgba(0, 0, 0, 0.3);
	
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.templates {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 760px;
}

.templates-sort {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 50px;
}

.templates-sort p {
	margin: 0;
}

.templates-sort b {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.templates-sort ul {
	display: flex;
	
	width: 360px;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.templates-sort-list a {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}

.templates-sort-list a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.templates-sort-list a:active {
	color: #000000;
}

.templates-sort-list li {
	padding-left: 25px;
}

.templates-sort-list li:nth-child(1) {
	padding-left: 0;
}

.templates-sort-list li:nth-child(4) {
	padding-left: 45px;
}

.templates-sort-list li:nth-child(5) {
	padding-left: 15px;
}

.templates-sort-current a {
	color: #000000;
}

.templates-image {
	position: relative;
	
	width: 360px;
	height: 616px;
	margin-bottom: 30px;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.templates-image img {
	padding-top: 40px;
}

.templates-image::before {
	content: "";
	
	position: absolute;
	
	width: 360px;
	height: 40px;
	
	background: url(../img/browser.svg) no-repeat 0 0;
	opacity: 0.12;
}

.templates-image-card {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	
	display: none;
	box-sizing: border-box;
	width: 360px;
	min-height: 231px;
	padding: 25px 60px 15px;
	
	text-align: center;
	
	background-color: #eeeeee;
}

.templates-image-card p {
	margin: 0;
	margin-top: 15px;
	
	line-height: 18px;
	color: #666666;
}

.templates-image-card a:first-child  {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase; 
}

.templates-image-card .button {
	width: 200px;
	margin: 30px auto;
}

.templates-image:hover::before {
	opacity: 1;
}

.templates-image:hover {
	box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.25);
}

.templates-image:hover .templates-image-card {
	display: block;
}

.pagination {
	display: flex;
	margin: 0;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 65px;
	
	list-style: none;
}

.pagination-item {
	margin-right: 12px;
}

.pagination-item a {
	display: block;
	padding: 16px 20px;
	
	font-weight: 500;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #eeeeee;
	border-radius: 3px;
}

.pagination-item:last-child {
	width: 260px;
	margin-right: 0;
	
	text-align: center;	
}

.pagination-item-current a {
	background-color: #ffffff;
	box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:active {
	background-color: #ffffff;
	box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	color: rgba(0, 0, 0, 0.3);
	
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.main-footer {
	width: 1440px;
	min-height: 630px;
	margin: 0 auto;
}

.contacts {
	position: relative;
	
	width: 1440px;
	height: 416px;
	margin-bottom: 65px;
}

.contacts-info {
	position: absolute;
	top: 55px;
	left: 140px;
	z-index: 1;
	
	box-sizing: border-box;
	width: 320px;
	height: 308px;
	padding: 45px 50px;
		
	background-color: #ffffff;
}

.contacts-info b {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.contacts-info p {
	width: 210px;
	margin: 0;
	margin-bottom: 22px;
	
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.contacts-info .button {
	width: 100%;
	margin-top: 35px;
}

.social {
	display: flex;
	align-items: flex-start;
}

.social ul {
	display: flex;
	justify-content: space-between; 
	width: 260px;
	margin: 0;
	margin-left: 140px;
	padding: 0;
	
	list-style: none;
}

.social-button {
	display: block;
	width: 80px;
	height: 80px;
}

.social-list li {
	position: relative;
	
	background-color: #e1e1e1;
	border-radius: 50%;
}

.social-list li:nth-child(1)::before {
	content: "";
	
	position: absolute;
	top: 34px;
	left: 27px;
	
	width: 30px;
	height: 20px;
	
	background: url(../img/vk-icon.svg) no-repeat 0 0;
}

.social-list li:nth-child(2)::before {
	content: "";
	
	position: absolute;
	top: 30px;
	left: 34px;
	
	width: 12px;
	height: 22px;
	
	background: url(../img/fb-icon.svg) no-repeat 0 0;
}

.social-list li:nth-child(3)::before {
	content: "";
	
	position: absolute;
	top: 31px;
	left: 30px;
	
	width: 21px;
	height: 21px;
	
	background: url(../img/insta-icon.svg) no-repeat 0 0;
}

.social-list li:hover {
	background-color: #e74246;
	border-radius: 50%;
}

.social-list li:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.social-list li:active::before {
	opacity: 0.3;
}

.social-slogan {
	font-size: 16px;
	line-height: 18px;
	
	margin: 0;
	margin-top: 5px;
	margin-left: 140px;
}

.social-slogan p:first-child {
	margin: 0;
	
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

.modal {
	position: absolute;
	top: 1700px;
	left: 50%;
	z-index: 10;
	
	display: none;
	box-sizing: border-box;
	width: 960px;
	height: 590px;
	margin-left: -480px;
	padding: 65px 100px;
	
	background-color: #ffffff;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal h2 {
	margin: 0;
	margin-bottom: 40px;
	
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.modal-close {
	position: absolute;
	top: 75px;
	right: 85px;
	
	width: 32px;
	height: 32px;
	
	font-size: 0;
	
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.modal-close::before {
	content: "";
	
	position: absolute;
	top: 5px;
	left: 5px;
	
	width: 22px;
	height: 22px;
	
	background: url(../img/close-cross.svg) no-repeat 0 0;
	opacity: 0.3;
}

.modal-close:hover::before {
	opacity: 1;
}

.modal-close:active::before {
	opacity: 0.1;
}

.feedback-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.feedback-item span {
	display: block;
	margin-bottom: 5px;
	
	font-weight: 700;
}

.feedback-item input {
	box-sizing: border-box;
	width: 360px;
	margin-bottom: 35px;
	padding: 11px 15px;
	
	font: inherit;
	color: rgba(68, 68, 68, 0.5);
	
	border: 2px solid #d7dcde;
}

.feedback-item textarea[name="message"] {
	box-sizing: border-box;
	width: 760px;
	height: 117px;
	padding: 11px 15px;
	
	font: inherit;
	color: rgba(68, 68, 68, 0.5);
	
	border: 2px solid #d7dcde;
}

.feedback-item input:hover,
.feedback-item textarea[name="message"]:hover {
	border-color: #b4b9bb;
}

.feedback-item input:focus,
.feedback-item textarea[name="message"]:focus {
	color: rgba(68, 68, 68, 1);
	
	border-color: #000000;
}

.modal .button {
	width: 260px;
	margin-top: 40px;
}